#question {
    margin-left: 0px;
}
#question p {
    margin-left: 0px;
}
#question h2 {
    margin-left: 0px;
}
#question label {
    margin-left: 0px;
}
#quiz {
    text-align: left;
}

#quiz h2,
#quiz p,
#quiz label,
#quiz input[type="radio"] {
text-align: left;
display: block;
}

#quiz ul {
list-style-type: none;
padding: 0;
}

#quiz li {
margin-bottom: 10px;
}
